export(Kfold_msvm, threshold_fun, cstep_ram, thetastep_ram, gbfsmsvm, sramsvm)
exportClasses("GBFSMSVM")

# Load dynamic libraries (shared object files)
useDynLib(GBFSMSVM)

import("methods")
import("stats")
import("caret")
import("kernlab")
import("quadprog")
import("lpSolve")
import("parallel")

S3method(threshold_fun, default)
S3method(threshold_fun, GBFSMSVM)