export(Kfold_msvm, threshold_fun, cstep_ram, thetastep_ram)
export(alpha_update)
exportClasses("GBFSMSVM")

import("methods")
import("stats")
import("caret")
import("kernlab")
import("quadprog")
import("lpSolve")
import("parallel")
import("dplyr")
importFrom(stats, lag)
importFrom(stats, filter)