export(cv.ramsvm, dbvsmsvm, ramsvm, sramsvm)
exportClasses("dbvsmsvm")
exportClasses("ramsvm")
exportClasses("sramsvm")

# Load dynamic libraries (shared object files)
useDynLib(dbvsmsvm)

import("methods")
import("stats")
import("quadprog")
import("lpSolve")
import("parallel")
import("mlbench")
import("HTLR")

S3method(threshold_fun, default)
S3method(threshold_fun, dbvsmsvm)
S3method(predict, ramsvm)
S3method(predict, dbvsmsvm)
S3method(predict, sramsvm)